<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>2Golf4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2006AE9F1E2017B000FB683D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2006AEB51E2017B000FB683D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2006AEC01E2017B000FB683D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
